<mat-toolbar #toolbar class="fixed z-50">
  <mat-toolbar-row class="justify-between">
    <button (click)="onClosedSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <div>
      <ul fxLayout fxLayoutGap="20px">
        <li>
          <button *ngIf="!(signedin$ | async)" mat-icon-button (click)="onSignIn()">
            <span class="align-middle mr-2">Connection</span>
            <mat-icon class="align-middle">person_outline</mat-icon>
          </button>
          <button *ngIf="signedin$ | async" mat-icon-button routerLink="/signout">
            <span class="align-middle mr-2">Déconnexion</span>
            <mat-icon class="align-middle">exit_to_app</mat-icon>
          </button>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav [fixedInViewport]="true" mode="side" [opened]="openedToolbar">
    <mat-nav-list #navList>
      <ng-container *ngIf="!(signedin$ | async)">
        <a mat-list-item [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-list-item"
           routerLink="/request-account">Demande Compte</a>
      </ng-container>

      <ng-container *ngIf="(signedin$ | async)">
        <ng-container *ngIf="isAdministrator">
          <a mat-list-item
             routerLinkActive="active-list-item"
             routerLink="/comptes">Comptes</a>
        </ng-container>
        <ng-container *ngIf=" isCustomer || isAdministrator">
          <a mat-list-item [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-list-item"
             routerLink="/dashboard">Tableau de bord</a>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #content class="no-v-scroll !flex flex-col">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



